.usuario-box {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.usuario-mini {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  background: #222;
  padding: 6px 12px;
  border-radius: 20px;
  transition: .2s;
}

.usuario-mini:hover {
  background: #3d2c8d;
}

.usuario-mini img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #8f78ff;
}

.btn-login {
  background: #5b3fff;
  padding: 6px 15px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}
